body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game{
    display: flex;
}
.player,
.computer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    border: 0;
}
img{
    height: 70px;
    width: auto;
}
